body {
    background-color: #00BCD4;
}

.board {
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.board .item {
    display: inline-block;
    margin: 5px;
    width: 30%;
    height: 130px;
    background-color: transparent;
    text-align: center;
    font-weight: lighter;
    padding: 21px;
    overflow: hidden;
    color: #212121;
}

.board .item:hover {
    background-color: #BDBDBD;
}

.chip .your-character-place,
.chip .pc-character-place {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.rb {
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.r {
    border-right: 1px solid #BDBDBD;
}

.b {
    border-bottom: 1px solid #BDBDBD;
}

.f4 {
    font-size: 80px;
    line-height: 1;
}

.prime {
    background-color: #FF4081;
    color: #fff;
}

.winner-block {
    background-color: #FF4081 !important;
    color: #fff !important;
}